html{
	height: 450px;
}

body {
	margin: 0;
	padding: 0;
	width: 530px;
	height: 450px;
	font-family: 'Montserrat Alternates', sans-serif;
	background: #272727;
	padding-bottom: 10px;
}

.stream_container {
	width: 240px;
	height: 150px;
	position: relative;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	border: 1px solid #B1B1B1;
	border-left: orange 2px solid;
	box-shadow: 0 0 10px black;
}

.stream_container:hover {
	box-shadow: 0 0 10px white;
}

.stream {
	display: block;
	width: 240px;
	height: 150px;
	position: relative;
}

.stream > img {
	position: relative;
	width: 240px;
	height: 150px;
}

.stream_info{
	position: absolute;
	bottom: 0;
	width: 240px;
	height: 75px;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

.stream_title{
	text-align: center;
	font-size: 15px;
	height: 50%;
	overflow: hidden;
	color: #FDFDFD;
}

.stream_viewers{
	color: #FF0000;
	font-size: 25px;
	width: 100px;
	float: left;
	text-align: center;
}

.stream_by{
	font-size: 10px;
	color: #ADADAD;
	width: 20px;
	margin-top: 15px;
	float: left;
	text-align: center;
}

.stream_user{
	font-size: 15px;
	color: #DCDCDC;
	width: 100px;
	margin-top: 10px;
	float: left;
	overflow: hidden;
}

.loading_text{
	margin-top: 50%;
	text-align: center;
	font-size: 25px;
	color: white;
}