html{
	height: 450px;
}

body {
	margin: 0;
	padding: 0;
	width: 500px;
	height: 450px;
	font-family: 'Prosto One', cursive;
	background: #E9E9E9;
}

.stream {
	width: 240px;
	height: 150px;
	position: relative;
}

.stream > img {
	position: relative;
	width: 240px;
	height: 150px;
}

.stream_info{
	position: absolute;
	bottom: 0;
	width: 240px;
	height: 75px;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

.stream_title{
	text-align: center;
}